* {
    box-sizing: border-box;
  }

  body {
    background: linear-gradient(317deg, rgba(2,0,36,1) 0%, rgba(0,76,122,1) 60%) !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: 400;
  }

  .nav-item {
     font-weight: 500;
  }

  .navbar {
    background-color: #050544;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }

  .vertical-center {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .inner-block {
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: column;
    min-width: 450px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
    transition: all .3s;
  }

  .inner-block::-webkit-scrollbar {
    display: none;
  }

  .vertical-center .form-control:focus {
    border-color: #2554FF;
    box-shadow: none;
  }

  .vertical-center h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }

  label {
    font-weight: 500;
  }

  button {
      width: 100%;
  }

  .confirm {
      margin-top: 26px !important;
      margin-bottom: 26px  !important;
  }

  input {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }

  table {
    width: 100%;
    overflow-y: scroll;
  }

  h1 {
      text-align: center;
  }

  pagination {
      margin-top: 20px;
      align-self: center;
  }

  .add-btn {
      margin-bottom: 20px;
      margin-left: 20px;
  }

  .select {
      margin-bottom: 20px;
      margin-left: 5px;
  }

  .tableWrapper {
      display: flex;
      flex-wrap: wrap;
      overflow: scroll;
      /* IE and Edge */
      -ms-overflow-style: none;
      /* Firefox */
      scrollbar-width: none;

  }

  .tableWrapper::-webkit-scrollbar {
    display: none;
  }

  .VuePagination {
      width: 100%;
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
  }

  #blockFooter {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    bottom: 0px;
  }

  #blockHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
  }

